<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Система Курс Вход</title>
    </head>
    <body>
        {% extends "base.html" %}
        <div class="content">
            <hr>
            {% block content %}
                <div id="webd">
                    <div id="webd_left_side" class="webd_sides">
                        <div class="webd_user_header">
                            <a href="/index" id="search_link">К поиску и просмотру работ</a> |
                            <a href="https://kurs.cs.petrsu.ru/templates" id="templates_link">Шаблоны отчетов и
                            презентаций</a>
                            <div style="margin-top:10px">
                                <span>Вход:</span>
                                <form id="webd_login_form"
                                      action="/login"
                                      method="POST"
                                      style="display:inline"
                                      title="После авторизации доступно: регистрация работ, изменение личных данных, добавление и удаление файлов отчетов">
                                    <input placeholder="Имя пользователя"
                                           type="text"
                                           name="username"
                                           id="inp_username"
                                           class="inp txt_inp"
                                           maxlength="15"
                                           title="Вход доступен с помощью логина и пароля студента в сервисах кафедры ИМО (например, сервер kappa или сервис moodle)"
                                           autofocus="">
                                    <input placeholder="Пароль"
                                           type="password"
                                           name="password"
                                           id="inp_password"
                                           class="inp txt_inp"
                                           maxlength="15"
                                           title="Вход доступен с помощью логина и пароля студента в сервисах кафедры ИМО (например, сервер kappa или сервис moodle)">
                                    <input type="submit" id="btn_login" value="Войти" class="inp">
                                    <div id="login_response"></div>
                                </form>
                            </div>
                            {% if message is defined %}<p>{{ message }}</p>{% endif %}
                        </div>
                        <p>
                            Система предназначена для учета курсовых и выпускных работ студентов,
                            загрузки, хранения, поиска и демонстрации файлов презентаций и отчетов.
                        </p>
                        <p>
                            Для корректного учета работ студент обязан в начале учебного года <b>зарегистрировать
                            данные о работе</b>. Это необходимо, поскольку возможны изменения руководителя и/или темы работы.
                            Если изменений по сравнению с предыдущим учебным годом не было, то регистрация выполняется
                            нажатием кнопки "Скопировать" на странице регистрации. Для обеспечения актуальности данных о работе,
                            выполняемой в текущем учебном году, их следует корректировать.
                            Регистрацию желательно выполнить сразу после согласования темы работы с руководителем.
                        </p>
                        <p>
                            Студент обязан <b>загрузить файлы презентации и отчета</b> (формат только PDF):
                        </p>
                        <ul>
                            <li>
                                промежуточные — 2, 3 и 5 курсы до 30 декабря текущего года, выпускники 4 и 6 курсов —
                                за два дня до начала сессии согласно графику учебного процесса текущего учебного года;
                            </li>
                            <li>окончательные — до даты защиты курсовых работ или предзащиты выпускных работ.</li>
                        </ul>
                        Правила, шаблоны и инструменты подготовки презентаций и отчетов см. в разделах 2 и 3 документа
                        <a href="http://www.cs.petrsu.ru/studies/kurs/kurs.php.ru">Курсовые и выпускные работы</a>
                        соответственно.
                        <p></p>
                        <p>
                            Функции регистрации и загрузки файлов отчетов доступны только студентам,
                            имеющим учетные записи (логин, пароль) в вычислительной системе кафедры ИМО,
                            после входа в систему «Курс».
                        </p>
                    </div>
                    <p id="webd_form">Для поиска и просмотра работ необходимо авторизоваться!</p>
                </div>
            {% endblock content %}
            <hr>
        </div>
    </body>
</html>
